{
	"dev_version" : "13.6.0",
	"editor_info" : {},
	"min_version" : "10.62.0",
	"systemList" : 
	[
		"AnimSeqSystem",
		"BehaviorSystem",
		"CameraSystem",
		"EventSystem",
		"MeshRendererSystem",
		"ScriptSystem",
		"Sprite2DRendererSystem",
		"TransformSystem",
		"VideoAnimSeqSystem"
	],
	"type" : "amazing",
	"version" : "0.1"
}