{
  "app_params": {
    "detectFlags": "face_240_detect",
    "faceModelName": "perfect2",
    "facetips": 1,
    "innerfilter": true
  },
  "dev_version": "10.15",
  "min_version": "10.40.0",
  "systemList": [
    "BehaviorSystem",
    "CameraSystem",
    "EventSystem",
    "LightSystem",
    "MeshRendererSystem",
    "MorpherSystem",
    "ShadowMapSystem",
    "TransformSystem",
    "v6_camera",
    "v6_directionalLight",
    "v6_meshrender",
    "v6_morpher"
  ],
  "type": "amazing",
  "version": "0.1"
}